SOLANA_RPC_URL=https://api.devnet.solana.com
DEVNET_AUTHORITY_KEY=<base58-encoded-keypair>
DEVNET_ASSERTER_KEY=<base58-encoded-keypair>
DEVNET_LLM_DISPUTER_KEY=<base58-encoded-keypair>
DEVNET_VOTE_DISPUTER_KEY=<base58-encoded-keypair>
DEVNET_MINT_KEY=<base58-encoded-keypair>
SWITCHBOARD_QUEUE=EYiAmGSdsQTuCw413V5BzaruWuCCSDgTPtBGvLkXHbe7
